<!--
  Generated template for the AllProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header_gradient">

  <ion-navbar>
    <ion-title>{{header_name}}</ion-title>
  </ion-navbar>
	<!--All tabs by category-->
	<ion-toolbar no-border-top>
		<!--Vegetables& Fruits-->
    <ion-segment *ngIf="this.header_id==11" [(ngModel)]="vegetabletab">
      <ion-segment-button value="vegetables" class="header-tab cat-align">
        Vegetables
      </ion-segment-button>
	  <ion-segment-button value="fruits" class="header-tab cat-align">
        Fruits
      </ion-segment-button>
      <ion-segment-button value="organic" class="header-tab cat-align1">
        Organic Veggi & Fruits
      </ion-segment-button>
      <ion-segment-button value="splveg" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>

		<!--Grocery Staples & Spices-->
		<ion-segment *ngIf="this.header_id==12" [(ngModel)]="grocerytab">
      <ion-segment-button value="rice" class="header-tab cat-align1">
        Rice& Rice Products
      </ion-segment-button>
      <ion-segment-button value="dal" class="header-tab cat-align">
       Pulses & Dal
      </ion-segment-button>
      <ion-segment-button value="oil" class="header-tab cat-align">
        Oil & Ghee
      </ion-segment-button>
      <ion-segment-button value="salt" class="header-tab cat-align1">
        Salt, Suger & Jaggery
      </ion-segment-button>
      <!--<ion-segment-button value="suger" class="header-tab cat-align">
        Sugar
      </ion-segment-button>-->
      <ion-segment-button value="aata" class="header-tab cat-align1">
        Aata & Others
      </ion-segment-button>
      <ion-segment-button value="spice" class="header-tab cat-align">
        Spices
      </ion-segment-button>
      <ion-segment-button value="dryfruit" class="header-tab cat-align">
        Dry Fruits
      </ion-segment-button>
      <ion-segment-button value="splgro" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>

		<!--Dairy Bakery& Beverages-->
		<ion-segment *ngIf="this.header_id==13" [(ngModel)]="dairytab">
      <ion-segment-button value="bakeryprod" class="header-tab cat-align1">
        Bakery Products
      </ion-segment-button>
      <ion-segment-button value="dairyprod" class="header-tab cat-align1">
        Dairy Products
      </ion-segment-button>
      <ion-segment-button value="beverages" class="header-tab cat-align">
        Beverages
      </ion-segment-button>
      <ion-segment-button value="rusk" class="header-tab cat-align1">
        Biscuits, Rusk & Cookies
      </ion-segment-button>
      <ion-segment-button value="spldai" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>

		<!--Snacks, Spreads & Packers-->
		<ion-segment *ngIf="this.header_id==14" [(ngModel)]="snacktab">
      <ion-segment-button value="noodle" class="header-tab cat-align">
        Noodle & Pasta
      </ion-segment-button>
      <!--<ion-segment-button value="pasta" class="header-tab cat-align">
        Pasta
      </ion-segment-button>-->
      <ion-segment-button value="spread" class="header-tab cat-align1">
        Spreads & Pickles
      </ion-segment-button>
      <ion-segment-button value="namkeen" class="header-tab cat-align1">
        Namkeen & Snakes
      </ion-segment-button>
      <ion-segment-button value="sauces" class="header-tab cat-align">
        Sauces & Ketchup
      </ion-segment-button>
      <ion-segment-button value="chocolates" class="header-tab cat-align1">
        Chocolates & Sweets
      </ion-segment-button>
      <ion-segment-button value="readymix" class="header-tab cat-align">
        Ready Mix
      </ion-segment-button>
      <ion-segment-button value="splsna" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>


		<!--House Hold Needs-->
		<ion-segment *ngIf="this.header_id==15"  [(ngModel)]="housetab">
      <ion-segment-button value="cleaning" class="header-tab cat-align1">
        Cleaning & Bathroom Needs
      </ion-segment-button>
      <ion-segment-button value="kitchen" class="header-tab cat-align1">
        Kitchen & Dining Needs
      </ion-segment-button>
      <ion-segment-button value="pooja" class="header-tab cat-align">
        Pooja Needs
      </ion-segment-button>
      <ion-segment-button value="laundry" class="header-tab cat-align1">
        Laundry & Utensils Needs
      </ion-segment-button>
      <ion-segment-button value="tissue" class="header-tab cat-align1">
        Tissues & Disposables
      </ion-segment-button>
      <ion-segment-button value="osb" class="header-tab cat-align1">
        Our Super Bazaar
      </ion-segment-button>
	  <ion-segment-button value="splhou" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>

		<!--Personal Care & Baby Care-->
	<ion-segment *ngIf="this.header_id==16"  [(ngModel)]="personaltab">
      <ion-segment-button value="baby" class="header-tab cat-align1">
        Baby Food & Other Needs
      </ion-segment-button>
      <ion-segment-button value="hygiene" class="header-tab cat-align1">
        Soap, Facewash & Oral Care
      </ion-segment-button>
      <ion-segment-button value="deodorants" class="header-tab cat-align1">
        Deodorants & Perfumes
      </ion-segment-button>
      <ion-segment-button value="skin" class="header-tab cat-align">
        Shampoo & Shower Gel
      </ion-segment-button>
	  <ion-segment-button value="hair" class="header-tab cat-align">
        Hair Care & Skin Care
      </ion-segment-button>
      <ion-segment-button value="shaving" class="header-tab cat-align1">
        Shaving Needs
      </ion-segment-button>
      <ion-segment-button value="other" class="header-tab cat-align1">
        Other Personal needs
      </ion-segment-button>
      <ion-segment-button value="splper" class="header-tab cat-align1">
        Special Combos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

	
	<!--END All tabs by category-->
</ion-header>


<ion-content class="shop_categories_inner">
	<ion-row >
		<ion-col >
			<button class="expbtn" ion-button clear (click)="timeslot()"><img class="express" src="assets/images/truck.png"/> &nbsp;&nbsp; Delivery Sloats</button>
		</ion-col>
	</ion-row>
	<!--Vegetables& Fruits-->
	<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==11" [ngSwitch]="vegetabletab">
		<ion-list *ngSwitchCase="'vegetables'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='1'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1 ||'assets/images/default.png'}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<!--<strong class="quant">{{prod.quantity}}</strong>-->
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'fruits'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='2'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		 										
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
			<ion-list *ngSwitchCase="'organic'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='3'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'splveg'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='4'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
	</ion-grid>

	<!--Grocery Staples & Spices-->
	<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==12" [ngSwitch]="grocerytab">
		<ion-list *ngSwitchCase="'rice'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='5'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'dal'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='6'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'oil'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='7'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'salt'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='43'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<!--<ion-list *ngSwitchCase="'suger'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='9'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>-->
		<ion-list *ngSwitchCase="'aata'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='10'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'spice'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='11'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'dryfruit'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='12'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
		<ion-list *ngSwitchCase="'splgro'">
			<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='13'">
							<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
		</ion-list>
	</ion-grid>

	<!--Dairy Bakery& Beverages-->
		<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==13" [ngSwitch]="dairytab">
			<ion-list *ngSwitchCase="'bakeryprod'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='14'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'dairyprod'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='15'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'beverages'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='16'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'rusk'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='44'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'spldai'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='18'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
		</ion-grid>

		<!--Snacks, Spreads & Packers-->
		<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==14" [ngSwitch]="snacktab">
			<ion-list *ngSwitchCase="'noodle'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='19'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<!--<ion-list *ngSwitchCase="'pasta'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='20'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>-->
			<ion-list *ngSwitchCase="'spread'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='21'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'namkeen'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='22'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'sauces'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='23'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'chocolates'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='24'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'readymix'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='25'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'splsna'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='26'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
		</ion-grid>

		<!--House Hold Needs-->
			<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==15" [ngSwitch]="housetab">
			<ion-list *ngSwitchCase="'cleaning'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='27'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'kitchen'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='28'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'pooja'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='29'">
						<ion-col col-4 class="product-img">
							<a href="#">			
								<img  src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'laundry'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='30'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'tissue'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='31'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'osb'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='32'"><ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'splhou'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='33'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
		</ion-grid>

		<!--Personal Care & Baby Care-->
			<ion-grid class="cat_list" text-uppercase text-center *ngIf="this.header_id==16" [ngSwitch]="personaltab">
			<ion-list *ngSwitchCase="'baby'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='34'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'hygiene'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='35'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'deodorants'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='36'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'skin'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='37'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'shaving'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='38'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'hair'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='39'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'other'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='40'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
			<ion-list *ngSwitchCase="'splper'">
				<ng-container *ngFor="let prod of items">
					<ion-row class="cat-inner-list" *ngIf="prod.cat_id==this.header_id && prod.sub_category_id=='41'">
						<ion-col col-4 class="product-img">
								<a href="#">			
								<img src="{{prod.product_images1}}" />
							</a>
							</ion-col>
							<ion-col text-left col-8 class="product-details">
								<a href="#">
								<p text-uppercase>{{prod.name}} <span float-right text-right>{{prod.size}} {{prod.unit}}</span></p>		
									<ion-row>
										<ion-col col-5>
										<span *ngIf="prod.offer_price" class="product-price">र {{prod.offer_price}} <sup>र {{prod.sell_price}}</sup></span>		
										<span *ngIf="!prod.offer_price" class="product-price">र {{prod.sell_price}}</span>		
									</ion-col>
									<ion-col col-7 class="add-cart">
										<p text-center>Add to Cart</p>		
										<form>
											<input (click)="removeFromCart(prod)" type="button" value="-">
											<strong class="quant">{{prod.quantity}}</strong>
											<input (click)="addToCart(prod)" type="button" value="+">
										</form>		
									</ion-col>
								</ion-row>
							</a>
							</ion-col>
					</ion-row>
				</ng-container>
			</ion-list>
		</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title text-uppercase>
    	<button (click)="gotToCart()"><ion-badge id="notifications-badge" color="danger"> {{cartCount}}</ion-badge></button>
    	<!--<p>standard: Today, 5:00 PM TO 8:00 PM</p>
    	<p>gHARPOCH EXPRESS : bY Today, 9:00 PM</p>-->
			<!--<p> Total: र {{total}}</p>-->
			<p><img class="express" src="assets/images/services.png"/>&nbsp;&nbsp; GHARPOCH EXPRESS : {{expresstime}}</p>
			
    </ion-title>
  </ion-toolbar>
</ion-footer>

