page-shop {
	.header_gradient{
		min-height: 150px;		
		
		.main_slider{
			position:absolute;
			bottom:-150px;
			height:235px;
			left:0;
			right:0;
			width:90%;
			margin:0 auto;
			box-shadow:0px -2px 32px #797979;
			img{
				width:100%;
				display: block;
			}
			@media(max-width:560px){
				height:auto;
			}
			@media(max-width:530px){
				bottom:-130px;
			}
			@media(max-width:500px){
				bottom:-110px;
			}
			@media(max-width:450px){
				bottom:-95px;
			}
			@media(max-width:430px){
				bottom:-85px;
			}
			@media(max-width:400px){
				bottom:-77px;
			}
			@media(max-width:340px){
				bottom:-40px;
			}
		}
	}
	.shop_categories{
		position:relative;
		.scroll-content{
			margin-top:21% !important;
			@media(max-width:670px){
				margin-top:25% !important;
			}
			@media(max-width:600px){
				margin-top:29% !important;
			}
			@media(max-width:450px){
				margin-top:26% !important;
			}
			@media(max-width:400px){
				margin-top:20% !important;
			}
			@media(max-width:340px){
				margin-top:18% !important;
			}
			h2{
				font-family: 'BrandonGrotesque-Medium';  
				font-size:18px; 
				padding-bottom:5px; 
				color:#6f6f6f;
				margin-bottom:0;
				//margin-top: 0;
			}
			.cat_list{
				margin-bottom: 160px;
				ion-row{
					&:last-child{
							margin-bottom:20px;
						}
				}
				ion-col{
					position:relative;					
					margin-bottom:5px;

				}
				a{
					text-decoration:none;
					padding-top:20px;
					box-shadow:0 0 11px rgba(171, 171, 171, .4);
					display:block;
					overflow:hidden;
					p{
						color:#6f6f6f; 
						font-family: 'BrandonGrotesque-Medium';  
						font-size:19px;
						position:absolute;
						left:0;
						right:0;
						text-align:center;
						top: 0px;
						@media(max-width:500px){
							font-size:14px;
						}
						&:after{
							content: '';  display:block;  margin:10px auto; height:3px; width:50px; background: rgba(114,170,25,1); 
							background: -moz-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
							background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114,170,25,1)), color-stop(19%, rgba(125,174,26,1)), color-stop(34%, rgba(131,173,26,1)), color-stop(68%, rgba(160,190,28,1)), color-stop(100%, rgba(177,196,30,1)));
							background: -webkit-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
							background: -o-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
							background: -ms-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
							background: linear-gradient(to right, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72aa19', endColorstr='#b1c41e', GradientType=1 );
						}
					}
					img{
						width:85%;
					}
				}
			}
		}
	}

	#notifications-badge {
		position: absolute;
		top: 2px;
		right: 2px;
		border-radius: 50%;
	}
	.express{
	width: 30px;
	}
	.profimg{
		width: 20px;
	}
	
}
