page-checkout {
	.Checkout-page{
		.success-images{
			width:100px;
			margin:40px auto;
			img{	
				width:100%;
			}			
		}
		p{
			font-size:23px;
			color:#6f6f6f;
			letter-spacing:1px;
			line-height:20px;
			font-family: 'BrandonGrotesque-Medium';
			@media(max-width:420px){
				font-size:16px;
			}
		}
		span{
			display:block;	
			font-size:16px;
			letter-spacing:1px;
			line-height:18px;
			padding:0 10px 50px;
			font-family: 'Lato-Light';
		}
		.order-details{
				font-size:14px;
				letter-spacing:1px;
				color:#6f6f6f;
				font-family: 'BrandonGrotesque-Medium';
		}
		button{	
			width:80%;
			margin:30px auto;
			letter-spacing:1px;
			font-family: 'BrandonGrotesque-Medium';
			font-size:14px;
			color:#6f6f6f;
			display:block;
			padding:10px;
			background:none;
			border:1px solid #a4bf1d;
		}
		.Tack-order{
			margin-bottom: 0;
			position: fixed;
			bottom: 0;
			border-radius: 0;
			width:100%;
			letter-spacing:1px;
			font-family: 'BrandonGrotesque-Medium';
			font-size:14px;
			color:#fff;
			padding:15px 0;
			background: rgba(114,170,25,1); 
           
		background: -moz-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114,170,25,1)), color-stop(19%, rgba(125,174,26,1)), color-stop(34%, rgba(131,173,26,1)), color-stop(68%, rgba(160,190,28,1)), color-stop(100%, rgba(177,196,30,1)));
		background: -webkit-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
		background: -o-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
		background: -ms-linear-gradient(left, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
		background: linear-gradient(to right, rgba(114,170,25,1) 0%, rgba(125,174,26,1) 19%, rgba(131,173,26,1) 34%, rgba(160,190,28,1) 68%, rgba(177,196,30,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72aa19', endColorstr='#b1c41e', GradientType=1 );
		}
	}

}
