page-forgot-password {
    /*Login page Styling*/

	.login_page{
		background:url('../assets/images/green_bg.jpg') transparent;
		    height: 100vh;
		width:100%;
		background-size:100% 100%;	
		background-repeat: no-repeat;	
		text-align: center;
		position:relative;
		ion-content{
			background:transparent;
		}
		.header-links {
			color:#fff;
			font-size:16px;
			font-family: 'Lato-Bold'; 
			letter-spacing: 1px;
		}
        ion-item{
            //width:100%;
            //padding:20px 30px 20px 0;
            border: 0;
            //border-bottom:1px solid #fff;
            background:transparent;
            font-size:16px;
            font-family: 'BrandonGrotesque-Regular'; 
            color:#fff;
            text-transform:uppercase;
            box-shadow:none;
            letter-spacing: 1px;
            .login-user{
	            background:url('../assets/images/user.png') transparent center left no-repeat;
	            padding-left:40px;
	            margin-bottom:10px; 
	            padding: 5px 40px;
	            color:#fff;
                background-size: 18px;
                font-size: 14px;
			}
			.login-pass{
				background:url('../assets/images/key.png') transparent center left no-repeat;
				padding-left:40px;
				    margin-bottom: 10px;
                padding: 5px 40px;
                color:#fff;
                    background-size: 25px;
                    font-size: 14px;
			}
			.new-pass{
	            background:url('../assets/images/lock.png') transparent center left no-repeat;
	            padding-left:40px;
	            margin-bottom:10px; 
	            padding: 5px 40px;
	            color:#fff;
                background-size: 18px;
                font-size: 14px;
			}
			.confirm-pass{
				background:url('../assets/images/lock.png') transparent center left no-repeat;
				padding-left:40px;
				    margin-bottom: 10px;
                padding: 5px 40px;
                color:#fff;
                    background-size: 18px;
                    font-size: 14px;
			}
			.email-add{
				background:url('../assets/images/mail.png') transparent center left no-repeat;
				padding-left:40px;
				    margin-bottom: 10px;
                padding: 5px 40px;
                color:#fff;
                    background-size: 18px;
                    font-size: 14px;
			}
        }
        .forget-link {
    			a{
    				font-family: 'Lato-Regular'; 
					font-size:16px;
					color:#fff;
					padding:0px 10px 0px;
					margin:0px 0px 0;
					display:block;
					text-decoration:none;
					letter-spacing: 1px;
    			}				
        }
        .email-otptext{
        	font-family: 'Lato-Regular'; 
			font-size:16px;
			color:#fff;
			letter-spacing: 1px;
			line-height:20px;
			    margin-bottom: 30px;
        }
        .terms-text {
        	font-family: 'Lato-Regular'; 
			font-size:16px;
			color:#fff;
			letter-spacing: 1px;
			line-height:20px;
			a{
				font-family: 'Lato-Regular'; 
				font-size:16px;
				color:#fff;
				letter-spacing: 1px;
				line-height:28px;
			}
        }

    	.create-acc{
			    background: rgba(255, 255, 255, 0.2);
			    border-bottom: 0px;
			    border-top: 1px solid #fff;
			    position: fixed;
			    left: 0;
			    right: 0;
			    color: #fff;
			    width: 100%;
			    padding: 20px 0;
			    bottom: 0;
		}

		form{
			width:100%;
			    overflow: hidden;
			.form_fields{
				margin-left:40px;
				margin-top:50px;
				@media(max-width:420px){
							margin-left:30px;
							margin-top:20px;
						}
			}			
			input, select, button{
				width:100%;
				padding:20px 30px 20px 0;
				border: 0;
				border-bottom:1px solid #fff;
				background:transparent;
				font-size:16px;
				font-family: 'BrandonGrotesque-Regular'; 
				color:#fff;
				text-transform:uppercase;
				box-shadow:none;
				letter-spacing: 1px;
			}
			.login-user{
				background:url('../assets/images/user.png') transparent center left no-repeat;
				padding-left:40px;
			}
			.login-pass{
				background:url('../assets/images/key.png') transparent center left no-repeat;
				padding-left:40px;
				    margin-bottom: 10px;
				    background-size: 24px 26px;
			}
			

			::-moz-placeholder {
			  color: #fff;
			  letter-spacing: 1px;
			  font-size:16px;
			}

			:-ms-input-placeholder {
			  color: #fff;
			  letter-spacing: 1px;
			  font-size:16px;
			}

			::-webkit-input-placeholder {
			  text-indent: 0;
			  color: #fff;
			  letter-spacing: 1px;
			  font-size:16px;
			}
			.form_submit_fields{
				input{
						width:70%;
						border:1px solid #fff;
						font-family: 'BrandonGrotesque-Regular'; 
						font-size:16px;
						color:#fff;
						margin-bottom:20px;
						padding:20px 0;
						@media(max-width:360px){
							width:80%;
							padding:10px 0;
							font-size:14px;
						}
				}
				.login-fb{
					width:70%;
						border:1px solid #fff;
						font-family: 'BrandonGrotesque-Regular'; 
						font-size:16px;
						color:#fff;
						margin-bottom:20px;
						padding:20px 0;
						@media(max-width:360px){
							width:80%;
							padding:10px 0;
							font-size:14px;
						}
						img{
							    vertical-align: sub;
						}
				}
			}
			p {
				a{
					font-family: 'Lato-Regular'; 
					font-size:16px;
					color:#fff;
					padding:0px 10px 0px;
					margin:10px 0px 0;
					display:block;
					text-decoration:none;
					letter-spacing: 1px;
				}
				span{
					margin-top:0px;
					display:block;
					font-family: 'Lato-Regular'; 
					font-size:16px;
					color:#fff;
					font-family: 'Lato-Bold'; 
				}
			}
		
		}
	}	
    .button{
				font-family: 'Lato-Bold';
				background:transparent;
				letter-spacing: 1px; 
				color:#fff; 
				font-size:16px; 
				width:100%;     
				display: block; 
				border:1px solid #fff;  
				padding:30px 0; 
				box-sizing:border-box;
				@media(max-width:360px){
					font-size:15px; 
					padding:20px 0; 
				}
			}
    .list-md, .list-ios{
    	padding-right:0 !important;
    	margin-bottom:0;
    }
    .item-md.item-block .item-inner, .list-ios > .item-block .item-inner{    
    	border-bottom: 1px solid #dedede !important;
    }
    .list-md .item-input:last-child{ 	
    	border-bottom:0 !important;
    }
    .login-btn { padding-right:16px !important;}
    .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{    box-shadow: none;}
    ion-input{
    	font-size:16px;
		font-family: 'BrandonGrotesque-Regular'; 
		color:#fff;
		text-transform:uppercase;	
    }
    .list-ios > .item-block:first-child{ border-top:0;}
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{ border:0;}
    
}
