<ion-content class="login_page">
		<ion-row padding class="header-links">
			<ion-col col-6 text-left text-uppercase >
				 <span (click)="gotoLogin()"><ion-icon name="arrow-back"></ion-icon> Back</span>
			</ion-col>
			<ion-col col-6  text-right text-uppercase>
				 <span>Forgot Password</span>
			</ion-col>			
		</ion-row>
    <!-- FORGET PASS EMAIL OTP FIELDS -->
    <div *ngIf="isOtp==false">
    <p text-uppercase class="email-otptext">wE JUST NEED YOUR REGISTERED<br/>EMAIL aDDRESS TO SEND YOU otP</p>
     <ion-list padding>
	    <ion-item>	     
	      <ion-label class="email-add"  floating>Email Id</ion-label>
	      <ion-input type="text" [(ngModel)]="email"></ion-input>
	    </ion-item>	   
    </ion-list>
    <ion-list padding class="login-btn">
      <button ion-button outline text-uppercase class="button" (click)="sendOtp()" color="light">Send OTP</button>
    </ion-list>
    </div>
    <!-- FORGET PASS FIELDS -->
    <div *ngIf="isOtp==true">
    <ion-list padding>
	    <ion-item>
	      <ion-label class="new-pass"  floating>NEW PASSWORD</ion-label>
	      <ion-input type="password" [(ngModel)]="pass"></ion-input>
	    </ion-item>

	    <ion-item>
	      <ion-label class="confirm-pass"  floating>CONFIRM PASSWORD</ion-label>
	      <ion-input type="password" [(ngModel)]="confpass"></ion-input>
	    </ion-item>    	
    </ion-list>
    <ion-list padding class="login-btn">
      <button ion-button outline  class="button" (click)="changepass()" color="light">CONFIRM</button>
    </ion-list>
    </div>
</ion-content>
